.formulaireContact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(15, 227, 206);
  color: white;
  border-radius: 10px;
  max-width: 100vw;
}
.inscriptionContent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.inscriptionContent input {
  width: 200px;
}
.inputText {
  width: 600px;

  border-radius: 5px;
  text-align: center;
}

.pseudoInput input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin: 20px;
}
input {
  height: 20px;
}

.formulaireContact h3 {
  font-weight: bold;
}

.formulaireContact img {
  width: 15%;
  margin: 1rem;
}

.formulaireContact p {
  font-size: 100%;
  font-weight: bold;
  margin: 1rem;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}

.contactForm p {
  color: rgb(15, 227, 206);
  font-weight: bold;
}

.contactForm {
  margin: 1rem;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.socialIcons img {
  width: 10%;
}

.contactButton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.buttonSubmit {
  width: 100%;
  padding: 15px;
  background-color: #0fe3ce;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.flexContact {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.flexContact img {
  width: 10%;
}

.flexContactContent {
  display: flex;
  flex-direction: column;
}

.buttonSubmit:hover {
  background-color: #0056b3;
}

.contactContainerAll {
  display: flex;
  flex-direction: column;
}

.inscriptionForm {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttonSubmit p {
  color: white;
}

.informationsContact {
  color: white;
  margin-top: 20px;
}
@media only screen and (min-width: 700px) {
  .contactContainerAll {
    padding: 2rem;
    flex-direction: row;

    box-shadow: 0px 1px 5px 2px grey;
    margin: 1rem;
    border-radius: 10px;
    justify-content: space-around;
  }
  .contactForm {
    margin: 3rem;
  }
}
